<!-- Подключаем шаблон base -->
{% extends 'base.html' %} 

<!-- Название страницы -->
{% block title %} 
MSO Analytics
{% endblock %}

{% block addhead %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://www.google.com/jsapi"></script>

<!-- Гистограмма баскетбол -->
<script>
 google.load("visualization", "1", {packages:["corechart"]});
 google.setOnLoadCallback(drawChart_basketball);
 function drawChart_basketball() {
  var data_basketball = google.visualization.arrayToDataTable([
      ['Район', 'Баскетбол'],
      ['Фили-Давыдково', 60],
      ['Басманный', 75], 
      ['Аэропорт', 41],
      ['Войковский', 44],
      ['Тимирязевский', 44], 
      ['Дорогомилово', 43],
      ['Выхино-Жулебино', 122],
      ['Кунцево', 65],
      ['Дмитровский', 46], 
      ['Коптево', 48], 
      ['Ясенево', 86], 
      ['Орехово-Борисово Южное', 66],
      ['Нагатино-Садовники', 51],
      ['Ховрино', 37], 
      ['Зябликово', 64], 
      ['Даниловский', 51],
      ['Головинский', 51], 
      ['Левобережный', 25], 
      ['Котловка', 28], 
      ['Обручевский', 53],
      ['Хорошевский', 71], 
      ['Южное Бутово', 158], 
      ['Коньково', 49], 
      ['Гагаринский', 54],
      ['Таганский', 68], 
      ['Нагорный', 42], 
      ['Северное Тушино', 51], 
      ['Мещанский', 33],
      ['Печатники', 32], 
      ['Куркино', 19], 
      ['Раменки', 63], 
      ['Зюзино', 48], 
      ['Тверской', 38],
      ['Северное Бутово', 54], 
      ['Хамовники', 52], 
      ['Щербинка', 7], 
      ['Беговой', 19],
      ['Ломоносовский', 65], 
      ['Чертаново Южное', 66], 
      ['Южное Тушино', 51],
      ['Чертаново Центральное', 47], 
      ['Донской', 38], 
      ['Красносельский', 21], 
      ['Измайлово', 57],
      ['Троицк', 10], 
      ['Солнцево', 51], 
      ['Москворечье-Сабурово', 42], 
      ['Якиманка', 23],
      ['Черемушки', 46], 
      ['Очаково-Матвеевское', 62],
      ['Балашиха', 0], 
      ['Братеево', 45],
      ['Марьино', 146], 
      ['Мосрентген', 1], 
      ['Воскресенское', 6], 
      ['Восточное Измайлово', 44],
      ['Академический', 70], 
      ['Текстильщики', 45], 
      ['Можайский', 62], 
      ['Кузьминки', 53],
      ['Теплый Стан', 46],
      ['Тропарево-Никулино', 72], 
      ['Рязановское', 10], 
      ['Сосенское', 7],
      ['Новокосино', 37], 
      ['Строгино', 58], 
      ['Покровское-Стрешнево', 32], 
      ['Крылатское', 56],
      ['Щукино', 57], 
      ['Вешняки', 58], 
      ['Силино', 19], 
      ['Хорошево-Мневники', 64],
      ['Старое Крюково', 20], 
      ['Проспект Вернадского', 39], 
      ['Сокол', 31], 
      ['Нижегородский', 22],
      ['Западное Дегунино', 35], 
      ['Рязанский', 54], 
      ['Восточное Дегунино', 46],
      ['Ярославский', 61], 
      ['Савеловский', 25], 
      ['Богородское', 51], 
      ['Соколиная гора', 40],
      ['Преображенское', 43], 
      ['Савелки', 30], 
      ['Бирюлево Восточное', 75],
      ['Бескудниковский', 45], 
      ['Бирюлево Западное', 40], 
      ['Молжаниновский', 5],
      ['Люблино', 114], 
      ['Щаповское', 4], 
      ['Пресненский', 62], 
      ['Нагатинский затон', 57],
      ['Митино', 84], 
      ['Перово', 75], 
      ['Вороновское', 4], 
      ['Краснопахорское', 15],
      ['Новофедоровское', 3], 
      ['Внуково', 14], 
      ['Чертаново Северное', 41],
      ['Крюково', 74],
      ['Метрогородок', 18], 
      ['Десеновское', 8], 
      ['Михайлово-Ярцевское', 1],
      ['Кленовское', 1],
      ['Внуковское', 8], 
      ['Марьина роща', 34], 
      ['Некрасовка', 35], 
      ['Останкинский', 35],
      ['Филевский парк', 47], 
      ['Ново-Переделкино', 74], 
      ['Новогиреево', 50], 
      ['Свиблово', 26],
      ['Гольяново', 66], 
      ['Марушкинское', 4], 
      ['Орехово-Борисово Северное', 70],
      ['Замоскворечье', 27], 
      ['Капотня', 16], 
      ['Царицыно', 50], 
      ['Арбат', 16], 
      ['Матушкино', 29],
      ['Лианозово', 55], 
      ['Восточный', 16], 
      ['Сокольники', 33], 
      ['Филимонковское', 2],
      ['Лефортово', 51], 
      ['Алтуфьевский', 28], 
      ['Северное Медведково', 46], 
      ['Отрадное', 107],
      ['Ивановское', 67], 
      ['Южное Медведково', 34], 
      ['Бибирево', 74], 
      ['Косино-Ухтомский', 46],
      ['Бабушкинский', 50], 
      ['Южнопортовый', 40], 
      ['Ростокино', 19], 
      ['Алексеевский', 53],
      ['Северный', 20], 
      ['Марфино', 23], 
      ['Бутырский', 30], 
      ['Лосиноостровский', 41],
      ['Московский', 11], 
      ['Северное Измайлово', 42], 
      ['Кокошкино', 1], 
      ['Киевский', 2],
      ['Красногорск', 0], 
      ['Дворцовый округ', 8], 
      ['Роговское', 1], 
      ['Первомайское', 3],
      ['Одинцовский', 0], 
      ['Люберцы', 1]
  ]);
  var options = {
   title: 'Площадки',
   hAxis: {title: 'Район'},
   vAxis: {title: 'Колличество площадок'}
  };
  var chart_basketball = new google.visualization.ColumnChart(document.getElementById('g_basketball'));
  chart_basketball.draw(data_basketball, options);
 }
</script>

<!-- Гистограмма Футбол -->
<script>
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart_football);
    function drawChart_football() {
     var data_football = google.visualization.arrayToDataTable([
         ['Район', 'Футбол'],
         ['Фили-Давыдково',45],
         ['Басманный',54],
         ['Аэропорт',36],
         ['Войковский',31],
         ['Тимирязевский',45],
         ['Дорогомилово',27],
         ['Выхино-Жулебино',109],
         ['Кунцево',71],
         ['Дмитровский',38],
         ['Коптево',37],
         ['Ясенево',61],
         ['Орехово-Борисово Южное',45],
         ['Нагатино-Садовники',39],
         ['Ховрино',30],
         ['Зябликово',59],
         ['Даниловский',45],
         ['Головинский',43],
         ['Левобережный',25],
         ['Котловка',32],
         ['Обручевский',40],
         ['Хорошевский',54],
         ['Южное Бутово',108],
         ['Коньково',45],
         ['Гагаринский',53],
         ['Таганский',63],
         ['Нагорный',36],
         ['Северное Тушино',50],
         ['Мещанский',31],
         ['Печатники',25],
         ['Куркино',15],
         ['Раменки',51],
         ['Зюзино',46],
         ['Тверской',25],
         ['Северное Бутово',37],
         ['Хамовники',40],
         ['Щербинка',5],
         ['Беговой',14],
         ['Ломоносовский',41],
         ['Чертаново Южное',67],
         ['Южное Тушино',47],
         ['Чертаново Центральное',56],
         ['Донской',21],
         ['Красносельский',24],
         ['Измайлово',62],
         ['Троицк',3],
         ['Солнцево',36],
         ['Москворечье-Сабурово',47],
         ['Якиманка',15],
         ['Черемушки',41],
         ['Очаково-Матвеевское',60],
         ['Балашиха',2],
         ['Братеево',35],
         ['Марьино',107],
         ['Мосрентген',3],
         ['Воскресенское',7],
         ['Восточное Измайлово',32],
         ['Академический',49],
         ['Текстильщики',44],
         ['Можайский',56],
         ['Кузьминки',37],
         ['Теплый Стан',45],
         ['Тропарево-Никулино',66],
         ['Рязановское',10],
         ['Сосенское',5],
         ['Новокосино',34],
         ['Строгино',59],
         ['Покровское-Стрешнево',39],
         ['Крылатское',50],
         ['Щукино',44],
         ['Вешняки',55],
         ['Силино',33],
         ['Хорошево-Мневники',46],
         ['Старое Крюково',27],
         ['Проспект Вернадского',25],
         ['Сокол',24],
         ['Нижегородский',24],
         ['Западное Дегунино',25],
         ['Рязанский',45],
         ['Восточное Дегунино',36],
         ['Ярославский',38],
         ['Савеловский',31],
         ['Богородское',42],
         ['Соколиная гора',27],
         ['Преображенское',25],
         ['Савелки',23],
         ['Бирюлево Восточное',54],
         ['Бескудниковский',36],
         ['Бирюлево Западное',33],
         ['Молжаниновский',3],
         ['Люблино',79],
         ['Щаповское',8],
         ['Пресненский',47],
         ['Нагатинский затон',51],
         ['Митино',80],
         ['Перово',57],
         ['Вороновское',1],
         ['Краснопахорское',5],
         ['Новофедоровское',3],
         ['Внуково',8],
         ['Чертаново Северное',46],
         ['Крюково',56],
         ['Метрогородок',17],
         ['Десеновское',11],
         ['Михайлово-Ярцевское',1],
         ['Кленовское',1],
         ['Внуковское',11],
         ['Марьина роща',25],
         ['Некрасовка',45],
         ['Останкинский',28],
         ['Филевский парк',37],
         ['Ново-Переделкино',66],
         ['Новогиреево',38],
         ['Свиблово',29],
         ['Гольяново',54],
         ['Марушкинское',2],
         ['Орехово-Борисово Северное',58],
         ['Замоскворечье',23],
         ['Капотня',18],
         ['Царицыно',42],
         ['Арбат',13],
         ['Матушкино',23],
         ['Лианозово',34],
         ['Восточный',12],
         ['Сокольники',30],
         ['Филимонковское',3],
         ['Лефортово',51],
         ['Алтуфьевский',24],
         ['Северное Медведково',24],
         ['Отрадное',91],
         ['Ивановское',66],
         ['Южное Медведково',18],
         ['Бибирево',49],
         ['Косино-Ухтомский',36],
         ['Бабушкинский',39],
         ['Южнопортовый',33],
         ['Ростокино',17],
         ['Алексеевский',49],
         ['Северный',15],
         ['Марфино',10],
         ['Бутырский',28],
         ['Лосиноостровский',43],
         ['Московский',10],
         ['Северное Измайлово',37],
         ['Кокошкино',1],
         ['Киевский',2],
         ['Красногорск',0],
         ['Дворцовый округ',5],
         ['Роговское',3],
         ['Первомайское',4],
         ['Одинцовский',1],
         ['Люберцы',0],
     ]);
     var options = {
      title: 'Площадки',
      hAxis: {title: 'Район'},
      vAxis: {title: 'Колличество площадок'}
     };
     var chart_football = new google.visualization.ColumnChart(document.getElementById('g_football'));
     chart_football.draw(data_football, options);
    }
   </script>

<!-- Гистограмма хоккей -->
<script>
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart_hokkey);
    function drawChart_hokkey() {
     var data_hokkey = google.visualization.arrayToDataTable([
     ['Район', 'Хоккей'],
        ['Фили-Давыдково',9],
        ['Басманный',6],
        ['Аэропорт',7],
        ['Войковский',8],
        ['Тимирязевский',7],
        ['Дорогомилово',3],
        ['Выхино-Жулебино',18],
        ['Кунцево',12],
        ['Дмитровский',6],
        ['Коптево',5],
        ['Ясенево',16],
        ['Орехово-Борисово Южное',14],
        ['Нагатино-Садовники',12],
        ['Ховрино',3],
        ['Зябликово',12],
        ['Даниловский',15],
        ['Головинский',9],
        ['Левобережный',6],
        ['Котловка',12],
        ['Обручевский',8],
        ['Хорошевский',14],
        ['Южное Бутово',24],
        ['Коньково',12],
        ['Гагаринский',17],
        ['Таганский',33],
        ['Нагорный',8],
        ['Северное Тушино',6],
        ['Мещанский',4],
        ['Печатники',3],
        ['Куркино',1],
        ['Раменки',10],
        ['Зюзино',10],
        ['Тверской',6],
        ['Северное Бутово',8],
        ['Хамовники',5],
        ['Щербинка',0],
        ['Беговой',0],
        ['Ломоносовский',8],
        ['Чертаново Южное',18],
        ['Южное Тушино',3],
        ['Чертаново Центральное',20],
        ['Донской',10],
        ['Красносельский',1],
        ['Измайлово',9],
        ['Троицк',0],
        ['Солнцево',7],
        ['Москворечье-Сабурово',8],
        ['Якиманка',1],
        ['Черемушки',8],
        ['Очаково-Матвеевское',10],
        ['Балашиха',0],
        ['Братеево',9],
        ['Марьино',23],
        ['Мосрентген',0],
        ['Воскресенское',0],
        ['Восточное Измайлово',2],
        ['Академический',10],
        ['Текстильщики',8],
        ['Можайский',9],
        ['Кузьминки',7],
        ['Теплый Стан',13],
        ['Тропарево-Никулино',10],
        ['Рязановское',0],
        ['Сосенское',1],
        ['Новокосино',7],
        ['Строгино',7],
        ['Покровское-Стрешнево',6],
        ['Крылатское',9],
        ['Щукино',7],
        ['Вешняки',7],
        ['Силино',3],
        ['Хорошево-Мневники',5],
        ['Старое Крюково',3],
        ['Проспект Вернадского',4],
        ['Сокол',4],
        ['Нижегородский',3],
        ['Западное Дегунино',8],
        ['Рязанский',8],
        ['Восточное Дегунино',6],
        ['Ярославский',1],
        ['Савеловский',5],
        ['Богородское',9],
        ['Соколиная гора',8],
        ['Преображенское',6],
        ['Савелки',5],
        ['Бирюлево Восточное',11],
        ['Бескудниковский',2],
        ['Бирюлево Западное',16],
        ['Молжаниновский',0],
        ['Люблино',12],
        ['Щаповское',0],
        ['Пресненский',9],
        ['Нагатинский затон',9],
        ['Митино',13],
        ['Перово',15],
        ['Вороновское',0],
        ['Краснопахорское',0],
        ['Новофедоровское',1],
        ['Внуково',3],
        ['Чертаново Северное',10],
        ['Крюково',2],
        ['Метрогородок',4],
        ['Десеновское',0],
        ['Михайлово-Ярцевское',0],
        ['Кленовское',0],
        ['Внуковское',0],
        ['Марьина роща',3],
        ['Некрасовка',5],
        ['Останкинский',8],
        ['Филевский парк',5],
        ['Ново-Переделкино',16],
        ['Новогиреево',11],
        ['Свиблово',2],
        ['Гольяново',13],
        ['Марушкинское',0],
        ['Орехово-Борисово Северное',9],
        ['Замоскворечье',4],
        ['Капотня',3],
        ['Царицыно',11],
        ['Арбат',0],
        ['Матушкино',5],
        ['Лианозово',5],
        ['Восточный',1],
        ['Сокольники',7],
        ['Филимонковское',0],
        ['Лефортово',4],
        ['Алтуфьевский',7],
        ['Северное Медведково',1],
        ['Отрадное',23],
        ['Ивановское',9],
        ['Южное Медведково',4],
        ['Бибирево',12],
        ['Косино-Ухтомский',8],
        ['Бабушкинский',5],
        ['Южнопортовый',8],
        ['Ростокино',5],
        ['Алексеевский',7],
        ['Северный',6],
        ['Марфино',4],
        ['Бутырский',7],
        ['Лосиноостровский',6],
        ['Московский',0],
        ['Северное Измайлово',5],
        ['Кокошкино',0],
        ['Киевский',0],
        ['Красногорск',0],
        ['Дворцовый округ',0],
        ['Роговское',0],
        ['Первомайское',0],
        ['Одинцовский',0],
        ['Люберцы',0],
     ]);
     var options = {
      title: 'Площадки',
      hAxis: {title: 'Район'},
      vAxis: {title: 'Колличество площадок'}
     };
     var chart_hokkey = new google.visualization.ColumnChart(document.getElementById('g_hokkey'));
     chart_hokkey.draw(data_hokkey, options);
    }
   </script>

<style>
    #mapdense {
        height: 100%;
        width: 80%;
        margin: auto;
    }
</style>

{% endblock %}

<!-- Индивидуальный блок каждой страницы -->
{% block selfbody %} 
    <div class="container margin_60">

        <div class="main_title">
            <br><br><br><br>
            <h2>Карта <strong>плотности</strong> спортивных объектов по видам спорта</h2>
            <span><em></em></span>
        </div>
    </div>
    <div id="mapdense"></div>
        <section id="basketball">
        <div class="main_title">
            <br><br><br><br>
            <h2>Гистограммы количества спортивных объектов по районам<hr>
                <strong>Баскетбол</strong>
            </h2>
            <span><em></em></span>
        </div>
    <div id="g_basketball" style="width: auto; height: 700px;"></div>
        </section>

        <section id="football">
            <div class="main_title">
                <br><br><br><br>
                <h2><strong>Футбол</strong>
                </h2>
                <span><em></em></span>
            </div>
        <div id="g_football" style="width: auto; height: 700px;"></div>
            </section>

        <section id="hokkey">
        <div class="main_title">
            <br><br><br><br>
            <h2><strong>Хоккей</strong>
            </h2>
            <span><em></em></span>
        </div>
    <div id="g_hokkey" style="width: auto; height: 700px;"></div>
        </section>
    </div>
    {% endblock %} <!-- Конец индивидуального блока каждой страницы -->

{% block addjs %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="{{  url_for('static', filename='map/map_dencity.js')  }}"></script>
{% endblock %}