<!-- Подключаем шаблон base -->
{% extends 'base.html' %} 

<!-- Название страницы -->
{% block title %} 
MSO Recommendations
{% endblock %}

<!-- Индивидуальный блок каждой страницы -->
{% block selfbody %} 

<div class="container margin_60">
    <div class="main_title">
        <br><br><br><br>
        <h2>Страница находится <strong>в разработке</strong></h2>
        <span><em></em></span>
    </div>
    <br><br><br><br><br><br><br><br><br>
</div>
{% endblock %} <!-- Конец индивидуального блока каждой страницы -->